.categoryList {
    
    display: flex;
    
    flex-wrap: wrap;

    gap: 20px;

    margin: 35px 0 60px 0;
}

.categoryItem {
    flex: 1;

    font-size: 14px;

    text-align: center;

    padding: 10px 25px;

    border-radius: 10px;
}

.travel {
    background-color: #ff7857;
}
  
.culture {
    background-color: #ffb14f;
}
  
.food {
    background-color: #7fb881;
}

.fashion {
    background-color: #ff7887;
}

.coding {
    background-color: #775aec;
}

.style {
    background-color: #789cff;
}

.postTitle {
    font-size: 18px;
    font-weight: 500;

    color: var(--softTextColor);

}
