.container {
    margin-top: 50px;
}

.title {
    color: var(--softTextColor);
    margin-bottom: 30px;
}

.write {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.input {
    width: 100%;
    padding: 20px;

    border: none;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-weight: bold;
    font-size: 20px;
}

.button {
    cursor: pointer;

    color: white;

    background: teal;
    
    padding: 16px 20px;
    
    border: none;

    font-weight: bold;

    border-radius: 5px;
}

.comments {
    margin-top: 50px;

    max-height: 125vh;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;

}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.image {
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username {
    font-weight: 500;
}

.date {
    color: var(--softTextColor);
    font-size: 14px;
}

.desc {
    font-size: 18px;
    font-weight: 300;
}